<h1>Pending Orders</h1>

<% @orders.each do |order| %>
  <section id="id-<%= order.id %>">
  <h4>Order Number: <%= link_to order.id, merchant_orders_show_path(order) %></h4>
  <p>Order Date: <%= order.created_at %></p>

<% end %>
</section>

<%= link_to "My Items", merchant_items_index_path %>
